# Python

__pycache__/
*.py[cod]
*.pyo


# Virtual environments

.venv/
venv/
env/


# Environment variables / secrets

.env
.env.*


# Jupyter

.ipynb_checkpoints/


# Trained models and generated ML artifacts

models/fine_tuned_roberta/*
models/vector_store/*
!models/fine_tuned_roberta/.gitkeep
!models/vector_store/.gitkeep

*.pkl


# Generated data files

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep


# OS files

.DS_Store
Thumbs.db


# IDE

.vscode/
.idea/
